
<h2>Panel De Control Del Superadmin
</h2>
<h3>Opciones</h3>
<div class="example-button-row">
    <mat-icon [routerLink]="[ '/crear-admin' ]">
      security</mat-icon>
</div>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px" class="container">

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" fxFlex="1 1 100%">

<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
  </ng-container>

            

<ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
  </ng-container>

      
<ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.apellidos}} </td>
  </ng-container>

     
<ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.username}} </td>
  </ng-container>

<ng-container matColumnDef="colegio">
    <th mat-header-cell *matHeaderCellDef> Colegio </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.colegio.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="delete" stickyEnd>
    <th mat-header-cell *matHeaderCellDef>Opciones</th>
    <td mat-cell *matCellDef="let usuario">
      <mat-icon (click)= "deleteUser(usuario.id)">delete</mat-icon>
    </td>
  </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>    
