<div fxLayout="column" class="example-form" fxLayoutAlign="center center" fxLayoutGap="10px" class="container"> 
  

    <p>Email</p>
    <input  type="email" [(ngModel)]="usuario.email" #em="ngModel" required [email]="true" />

    <div [hidden]="em.valid || em.pristine" class="alert alert-danger">
      <p *ngIf="em.errors?.required">El campo email es requerido.</p>
      <p *ngIf="em.errors?.email">El campo email debe estar bien formado.</p>
    </div>

    <p>Contraseña</p>
    <input type="password" [(ngModel)]="usuario.password" #pwd="ngModel" pattern="[0-9]{3,6}" required />


    <div [hidden]=" pwd.pristine" class="alert alert-danger">
        <p *ngIf="pwd.errors?.required"> El campo contraseña es requerido.</p>

  </div>
    <input type="button" (click)="doLogin()" value="Login" />


  </div>
