<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="container">
  
        <input type="text" [(ngModel)]="colegio.nombre" #nom="ngModel" required  />
      
        <div  em.pristine class="alert alert-danger">
          <p *ngIf="nom.errors?.required">El campo nombre es requerido.</p>
          
        </div>
      
        <input class="containerrr"  type="button" (click)="doColegio()" value="Crear" />
      
      </div>
      