<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="container">
  
    
  
    <div  em.pristine class="alert alert-danger">
      <p *ngIf="nom.errors?.required">El campo email es requerido.</p>
      
    </div>
    <input type="username" [(ngModel)]="admin.username" #nom="ngModel" required  />
  
    
  
    <div tip.pristine class="alert alert-danger">
      <p *ngIf="tip.errors?.required"> El campo nombre es requerido.</p>
       
    </div>
    <input type="nombre" [(ngModel)]="admin.nombre" #tip="ngModel"  required  />
    
    <div pes.pristine class="alert alert-danger">
        <p *ngIf="pes.errors?.required"> El campo apellidos es requerido.</p>
       
    </div>
    <input type="apellidos" [(ngModel)]="admin.apellidos" #pes="ngModel"  required  />
    
  
  
    <div pes.pristine class="alert alert-danger">
        <p *ngIf="pes.errors?.required"> El campo password es requerido.</p>
       
    </div>
    <input type="password" [(ngModel)]="admin.password" #pes="ngModel"  required  />

  
  
    <div pes.pristine class="alert alert-danger">
        <p *ngIf="pes.errors?.required"> Confirmar la password es requerido.</p>
       
    </div>
    <input type="password2" [(ngModel)]="admin.password2" #pes="ngModel"  required  />
  
      
  
  
     
  
  </div>
  <div>
    <h4 fxLayoutAlign="center center">Colegio</h4>
    <mat-form-field class="container" fxLayoutAlign="center center">
      <mat-label>Colegio</mat-label>
      <mat-select [(ngModel)]="admin.idcolegio">
        <mat-option  *ngFor="let colegio of colegios" [value]="idcolegio">
          {{colegio.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div fxLayoutAlign="center center">
    <input  type="button" (click)="doAdmin()" value="Crear" />
</div>
  

