<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" class="container">

    <table mat-table [dataSource]="colegios" class="mat-elevation-z8" fxFlex="1 1 100%">
  
  <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let colegio"> {{colegio.id}} </td>
    </ng-container>
  
              
  
  <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let colegio"> {{colegio.nombre}} </td>
    </ng-container>
  
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
