
<div>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="container">
  
 

  <input type="yearI" [(ngModel)]="anio.yearI" #tip="ngModel"  required  />

  <div tip.pristine class="alert alert-danger">
    <p *ngIf="tip.errors?.required"> El campo Fecha Inicio es requerido.</p>
     
  </div>

  <input type="yearF" [(ngModel)]="anio.yearF" #pes="ngModel"  required  />


  <div pes.pristine class="alert alert-danger">
      <p *ngIf="pes.errors?.required"> El campo Fecha Fin es requerido.</p>
     
  </div>

    


   

</div>


<input type="button" (click)="doAnio()" value="Crear" />

</div>