<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px">
    <mat-toolbar color="primary" fxFlex="100%">
      <mat-toolbar-row>
        <span>PSMAPP</span>
        <span class="example-spacer"></span>
        <a [routerLink]="[ '/anios' ]">
         Año Academico
        </a>&nbsp;
        <a [routerLink]="[ '/login' ]">
          Login
         </a>&nbsp;
         <a [routerLink]="[ '/usuario/listadoUsuarios' ]">
          Listado de Usuarios
         </a>&nbsp;
         <a [routerLink]="[ '/procesos' ]">
          Listado de procesos
         </a>&nbsp;
         <a [routerLink]="[ '/etapas' ]">
          Listado de Etapas
         </a>&nbsp;
         <a [routerLink]="[ '/crearcolegio' ]">
          Crear colegio
        </a>&nbsp;

         <a [routerLink]="[ '/colegios' ]">
          Listado de Colegios
         </a>&nbsp;
         <a [routerLink]="[ '/unidades' ]">
          Listado de Unidades
         </a>&nbsp;
        </mat-toolbar-row>  
    </mat-toolbar>
  </div>


<router-outlet></router-outlet>