


<div fxLayout="column" fxFlex="80">
    <table mat-table [dataSource]="anios" class="mat-elevation-z8" fxFlex="80">
       
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="yearI">
            <th mat-header-cell *matHeaderCellDef> Año inico </th>
            <td mat-cell *matCellDef="let element"> {{element.yearI}} </td>
        </ng-container>

        <ng-container matColumnDef="yearF">
            <th mat-header-cell *matHeaderCellDef> Año Fin </th>
            <td mat-cell *matCellDef="let element"> {{element.yearF}} </td>
        </ng-container>

        <ng-container matColumnDef="delete" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Opciones</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon (click)= "deleteAnio(element.id)">delete</mat-icon>
            </td>
          </ng-container>





        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>



    </table>





</div>