
<div fxLayout="column" fxFlex="80">
        <table mat-table [dataSource]="etapas" class="mat-elevation-z8" fxFlex="80">
           
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
    
          
           
            <ng-container matColumnDef="delete" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon (click)= "deleteEtapa(element.id)">delete</mat-icon>
                </td>
              </ng-container>
    
    
    
    
    
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    
    
    
        </table>
    
        
    
    
    
    
    
    </div>