<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="container">
  
  <input type="nombre" [(ngModel)]="proceso.nombre" #nom="ngModel" required  />

  <div  em.pristine class="alert alert-danger">
    <p *ngIf="nom.errors?.required">El campo nombre es requerido.</p>
    
  </div>

  <input type="tipo" [(ngModel)]="proceso.tipo" #tip="ngModel"  required  />

  <div tip.pristine class="alert alert-danger">
    <p *ngIf="tip.errors?.required"> El campo tipo es requerido.</p>
     
  </div>

  <input type="peso" [(ngModel)]="proceso.peso" #pes="ngModel"  required  />


  <div pes.pristine class="alert alert-danger">
      <p *ngIf="pes.errors?.required"> El campo tipo es requerido.</p>
     
  </div>

  <div class="containerr">
      <h4>Año academico</h4>
      <mat-form-field >
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="proceso.anioAcademico">
          <mat-option  *ngFor="let anio of anios" [value]="anio.id">
            {{anio.yearI}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <input class="containerrr"  type="button" (click)="doProceso()" value="Crear" />


   

</div>


