<div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="container">
  
  <input type="nombre" [(ngModel)]="unidad.nombre" #nom="ngModel" required  />

  <div  em.pristine class="alert alert-danger">
    <p *ngIf="nom.errors?.required">El campo nombre es requerido.</p>
    
  </div>

  <input type="tipo" [(ngModel)]="unidad.tipo" #tip="ngModel"  required  />

  <div tip.pristine class="alert alert-danger">
    <p *ngIf="tip.errors?.required"> El campo tipo es requerido.</p>
     
  </div>

  <input type="peso" [(ngModel)]="unidad.peso" #pes="ngModel"  required  />


  <div pes.pristine class="alert alert-danger">
      <p *ngIf="pes.errors?.required"> El campo tipo es requerido.</p>
     
  </div>

    


   

</div>
<div>
  <h4>Curso</h4>
  <mat-form-field >
    <mat-label>Curso</mat-label>
    <mat-select [(ngModel)]="unidad.curso">
      <mat-option  *ngFor="let curso of cursos" [value]="curso.id">
        {{curso.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<input type="button" (click)="doUnidad()" value="Crear" />

<div>